<h1>Please confirm information below and select payment mode:</h1>
<p> Email : <%= @order.email %> </p>
<p> Amount : <%= Spree::Money.new(@order.remaining_total, { currency: @order.currency }) %>  </p>
<br/>
<form action="post">
<input type="hidden" name="subtotal" value="<%= @order.remaining_total %>">
<!-- [TODO_CR] Below message is not good -->
<input type="hidden" name="description" value="Items from We stay cute">
<input type="hidden" name="invoice" value="<%= @order.number %>">
<input type="hidden" name="currency" value="<%= @order.currency %>">
<input type="hidden" name="return_url" value="<%= paga_callback_url %>">

<!-- [TODO_CR] Rails.env.development? -->
<% if Rails.env == "development" %>
	<input type="hidden" name="test" value="true">
<% end %>
</form>
<!-- begin Paga ePay widget code -->
<script type="text/javascript" src=<%= payment_method.preferred_paga_script %>> </script>
<!-- end Paga ePay widget code -->